<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-barcode-heading" jhiTranslate="bioBaseApplicationApp.barcode.home.createOrEditLabel">Create or edit a Barcode</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bioBaseApplicationApp.barcode.marcador" for="field_marcador">Marcador</label>
                    <input type="text" class="form-control" name="marcador" id="field_marcador"
                           formControlName="marcador"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bioBaseApplicationApp.barcode.sequencia" for="field_sequencia">Sequencia</label>
                    <input type="text" class="form-control" name="sequencia" id="field_sequencia"
                           formControlName="sequencia"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bioBaseApplicationApp.barcode.data" for="field_data">Data</label>
                    <div class="input-group">
                        <input id="field_data" type="text" class="form-control" name="data" ngbDatepicker #dataDp="ngbDatepicker" formControlName="data"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bioBaseApplicationApp.barcode.idSample" for="field_idSample">Id Sample</label>
                    <select class="form-control" id="field_idSample" name="idSample" formControlName="idSample">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gerenciaIdOption.id === editForm.get('idSample')!.value?.id ? editForm.get('idSample')!.value : gerenciaIdOption" *ngFor="let gerenciaIdOption of idsamples; trackBy: trackById">{{ gerenciaIdOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
