<div>
    <h2 id="page-heading">
        <span jhiTranslate="bioBaseApplicationApp.barcode.home.title">Barcodes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-barcode" [routerLink]="['/barcode/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bioBaseApplicationApp.barcode.home.createLabel">
            Create a new Barcode
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="barcodes?.length === 0">
        <span jhiTranslate="bioBaseApplicationApp.barcode.home.notFound">No barcodes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="barcodes && barcodes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="bioBaseApplicationApp.barcode.marcador">Marcador</span></th>
                    <th scope="col" ><span jhiTranslate="bioBaseApplicationApp.barcode.sequencia">Sequencia</span></th>
                    <th scope="col" ><span jhiTranslate="bioBaseApplicationApp.barcode.data">Data</span></th>
                    <th scope="col" ><span jhiTranslate="bioBaseApplicationApp.barcode.idSample">Id Sample</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let barcode of barcodes ;trackBy: trackId">
                    <td><a [routerLink]="['/barcode', barcode.id, 'view']">{{ barcode.id }}</a></td>
                    <td>{{ barcode.marcador }}</td>
                    <td>{{ barcode.sequencia }}</td>
                    <td>{{ barcode.data | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="barcode.idSample">
                            <a [routerLink]="['/gerencia-id', barcode.idSample?.id, 'view']" >{{ barcode.idSample?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/barcode', barcode.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/barcode', barcode.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(barcode)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
