<div>
    <h2 id="page-heading">
        <span jhiTranslate="bioBaseApplicationApp.sequenciamento.home.title">Sequenciamentos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sequenciamento" [routerLink]="['/sequenciamento/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bioBaseApplicationApp.sequenciamento.home.createLabel">
            Create a new Sequenciamento
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="sequenciamentos?.length === 0">
        <span jhiTranslate="bioBaseApplicationApp.sequenciamento.home.notFound">No sequenciamentos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="sequenciamentos && sequenciamentos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="bioBaseApplicationApp.sequenciamento.posiao">Posiao</span></th>
                    <th scope="col" ><span jhiTranslate="bioBaseApplicationApp.sequenciamento.status">Status</span></th>
                    <th scope="col" ><span jhiTranslate="bioBaseApplicationApp.sequenciamento.idSample">Id Sample</span></th>
                    <th scope="col" ><span jhiTranslate="bioBaseApplicationApp.sequenciamento.idPlaca">Id Placa</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sequenciamento of sequenciamentos ;trackBy: trackId">
                    <td><a [routerLink]="['/sequenciamento', sequenciamento.id, 'view']">{{ sequenciamento.id }}</a></td>
                    <td>{{ sequenciamento.posiao }}</td>
                    <td>{{ sequenciamento.status }}</td>
                    <td>
                        <div *ngIf="sequenciamento.idSample">
                            <a [routerLink]="['/gerencia-id', sequenciamento.idSample?.id, 'view']" >{{ sequenciamento.idSample?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="sequenciamento.idPlaca">
                            <a [routerLink]="['/placa', sequenciamento.idPlaca?.id, 'view']" >{{ sequenciamento.idPlaca?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/sequenciamento', sequenciamento.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/sequenciamento', sequenciamento.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(sequenciamento)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
